body{
	margin:0;
	padding:0;
	min-height:100vh;
}

a{
	color:white;
	text-decoration:none;
}
.clear{
	clear:both;
}


/*page homepage/////////////////////////////////////////////////////*/

.page-homepage{
	text-align:center;
}

.page-homepage a:hover{
	color:black;
}

.page-homepage .product{
	margin-left:10%;
	margin-top:3%;
}

.page-homepage .product .float .name{
	font-size:30PX;
	
}

.page-homepage .product .float .description{
	width:200PX;
	
	text-align:center;
	background-color:#16BAC5;
	color:white;
	font-size:25PX;

}


.page-homepage .product .float .price{
	width:70PX;
	background-color:black;
	color:white;
	text-align:center;
	font-size:20PX;
	margin-top:1%;
}

.float{
	float:left;
	border:solid 1px orange;
	height:430PX;
	margin:5PX;
	/*text-align:center;*/
}
/*end page homepage/////////////////////////////////////////////////////*/

/*footer/////////////////////////////////////////////////////*/

footer{
	background-color:#222222;
	color:white;
	position:sticky;
	top:100%
}

footer .content{
	/*display:flex;*/
	/*float:left;*/
}

footer .div1 h1{
	margin-left:7%;
	text-transform:capitalize;
	background-color:black;
	/*max-width:39.7%;*/
	padding:3%;
	/*border-radius:7%;*/
	border-radius:7px;
}

footer .content .div1 span{
	background-color:red;
	text-transform:capitalize;
	display:inline-block;
	border-radius:7%;
}

footer .content .div2, footer .content .div3, footer .content .div4{
	margin-top:5%;
}

footer .content div{
	/*width:25%;*/
	float:left;
}

footer h1{
	text-transform:capitalize;
}


footer ul{
	padding-top:5%;
}
footer ul li{
	text-transform:capitalize;
	padding-top:3%;

}



footer .content p{
	text-align:justify;
	padding:5%;
}

footer .content .div1 div{
	background-color:black;
	color:white;
	margin:10% 30%;
	font-size:30PX;
	text-transform:capitalize;
	display:inline-block;
}

footer .copyright{
	width:98%;
	margin-left:1%;
	background-color:black;
	color:white;
	text-align:center;
	padding:0.2%;
}

.page-products-manage  {
	color:red;
}


.page-stock-add{
	color:blue;
}

/*start page discover ///////////////////////////////////////*/

.page-discover-foreach{
	box-sizing:border-box;
}

.page-discover-foreach img{
	margin:3%;
	float:left;
}

.forimg{
	background-color:black;
}

.page-discover .buy{
	
	background-color:#16BAC5;
	margin:0 0 3% 40%;
	font-weight:bold;
	font-size:30PX;
	padding:7px;
}

.page-discover .buy span{
	text-align:center;
}


/*start page-buy //////////////////////////////////////////////*/


.page-buy .div1{
	margin:5% 20%;
	font-size:20PX;

}

.page-buy .div1, .page-buy .div2{
	display:inline-block;
}

.page-buy .div1 input{
	display:block;
	margin-top:2%;
}

.page-buy .div1 .submit{
	color:white;
	background-color:#16BAC5;
	font-weight:bold;
	font-size:17PX;
	margin:5% 0 0 17%;
}
.thanks{
	width:80%;
	height:50PX;
	background-color:#90CA90;
	color:white;
	margin-left:10%;
	text-align:center;
	font-size:20PX;
	text-transform:capitalize;
}

.page-buy .div2 img{
	width:300PX;
}

/*end page buy /////////////////////////////////////////////////////*/


 /*RESPONSIVERESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE/*/
/*/////////////////////////////////////////////////////////////////////////////////*/

.navbar{
	background-color:#222;

}

.nav-item{
	color:white;
}

.navbar-nav{
	margin-left:25%;
}

.navbar-brand{
	background-color:black;
	font-size:30px;
	text-transform:capitalize;
	width:132PX;
	padding:5PX;
	border-radius:6%;

}

.navbar-brand .span{
	background-color:red;
	border-radius:3PX;
	text-transform:capitalize;
}

.navbar-brand:hover{
	color:white ;
}
